# This file is used to render the examples layers, it can be deleted.
# Layer without any restriction
LAYER
    NAME "mandats"
    TYPE POINT
    METADATA
        "ows_title" "mandats"
        "wms_srs" "EPSG:2056"
        "gml_include_items" "all"
        "wfs_enable_request" "*"
        "gml_geometries" "geom"
        "gml_geom_type" "point"
        "gml_featureid" "mandat_id"
    END
    PROJECTION
        "init=epsg:2056"
    END
    CONNECTIONTYPE POSTGIS
    CONNECTION "user=www password=www dbname=TB host=host.docker.internal port=5432"
    PROCESSING "CLOSE_CONNECTION=DEFER"
    DATA "geom FROM (SELECT * FROM mandat_v2) as foo using unique mandat_id using srid=2056"
    STATUS ON
    EXTENT 2500000 1160000 2600000 1250000
    TEMPLATE "ttt"
    CLASS
        NAME "Test"
        STYLE
            SYMBOL "circle"
            SIZE 8
            COLOR 255 0 0
        END
    END
END
